<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--开启包扫描 base-package:配置包名, 以当前配置的为基础包,扫描当前包下面所有的类和子包下面所有的类-->
    <context:component-scan base-package="com.itheima"/>
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="suffix" value=".jsp"/>
        <property name="prefix" value="/WEB-INF/pages/"/>
    </bean>

    <mvc:annotation-driven conversion-service="converter"/>


    <mvc:default-servlet-handler/>
    <bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver" id="multipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <property name="maxUploadSize" value="5242880"/>
    </bean>
    <bean id="converter" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                    <property name="defaultCharset" value="utf-8"/>
                    <property name="supportedMediaTypes">
                        <set>
                            <value>TEXT_HTML;charset=utf-8</value>
                            <value>TEXT_PLAIN;charset=utf-8</value>
                            <value>APPLICATION_JSON_UTF8</value>
                        </set>
                    </property>
                </bean>
            </set>
        </property>
    </bean>

</beans>